@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$sidebar-bg-color: rgb(11, 25, 61);
$submenu-bg-color: rgba(11, 25, 61, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 40px;

@import '~react-pro-sidebar/dist/scss/styles.scss';
